@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');


/* creacion de variables para los colores a usar en modo oscuro*/

:root{
    --primary-clr:#ff7e00 ;
    --color-barra-lateral: rgb(255,255,255);

    --color-texto: rgb(0,0,0);
    --color-texto-menu: rgb(134,136,144);

    --color-menu-hover: rgb(238,238,238);
    --color-menu-hover-texto: rgb(0,0,0);



    --color-boton: rgb(0,0,0);
    --color-boton-texto: rgb(255,255,255);

    --color-linea: rgb(180,180,180);

    --color-switch-base: rgb(201,202,206);
    --color-switch-circulo: rgb(241,241,241);

    --color-scroll: rgb(192,192,192);
    --color-scroll-hover: rgb(134,134,134);


}

.dark-mode{
    --color-barra-lateral: rgb(44,45,49);

    --color-texto: rgb(255,255,255);
    --color-texto-menu: rgb(110,110,117);

    --color-menu-hover: rgb(0,0,0);
    --color-menu-hover-texto: rgb(238,238,238);



    --color-boton: rgb(255,255,255);
    --color-boton-texto: rgb(0,0,0);

    --color-linea: rgb(90,90,90);

    
    --color-switch-base: rgb(39,205,64);
    --color-switch-circulo: rgb(255,255,255);

    --color-scroll: rgb(68,69,74);
    --color-scroll-hover: rgb(85,85,85);




}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


body { 
height: 100%; 
background:#F5F5F5;
overflow-x: hidden;

}
/* 
.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;

}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

/* 


.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
*/

/* Menu*/
.menu{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    right: 15px;
    top: 15px;
    z-index: 100;

}



/* Barra lateral*/
.barra-lateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
    z-index: 50;

}


.mini-barra-lateral{
    width: 130px;
}


.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.barra-lateral span.oculto{
    opacity: 0;
    width: 0;

}
/* Nombre de la página*/
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.barra-lateral .nombre-pagina img{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
    background: var(--color-barra-lateral);
}

.barra-lateral  .nombre-pagina span{
    margin-left: 5px;
    font-size: 25px;
}


/*------ Boton*/
.barra-lateral .boton{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-barra-lateral);
    color: var(--color-texto);
}
.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 25px;

}

/*------ Menu Navegacion*/
.barra-lateral .navegacion{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color:var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}




.barra-lateral .navegacion li{
    list-style: none;
    display: flex;
    margin-bottom: 18px;
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);

}
.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 32px;
}


/*------ Linea*/
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: var(--color-linea);
}

/*------ Modo oscuro*/

.barra-lateral .modo-oscuro{
    width: 100%;
    margin-bottom: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

}
.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}

.barra-lateral .modo-oscuro ion icon{
    width: 50px;
    font-size: 20px;
}

/*------ switch*/
.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}

.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color-switch-base);
    border-radius: 50px;
}

.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color:var(--color-switch-circulo);
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
}

.barra-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}

/*------ usuario*/
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}

.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}

.barra-lateral .usuario .email{
    font-size: 13px;
}
.barra-lateral .usuario .ion-icon{
    font-size: 20px;
}

/*------ main*/

#cf{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
    border-radius: 10px;
}


main{
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;

}

.container{
    position: relative;
    width: 1600px;
    min-height: 850px;
    margin: 0 auto;
    padding: 1px;
    color: #fff;
    display: flex;
    border-radius: 10px;
    background-color: #091134;
}
.left{
    width: 60%;
    padding: 20px;
}

.calendar{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
    background-color: #fff;
}
.calendar::before,
.calendar::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d5d6d7;
    transform: translateY(-50%);
}

.calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
}

.calendar .month{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2 rem;
    font-weight: 500;
}
.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover{

    color: var(--primary-clr);
} 

.calendar .weekdays{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;

}
.calendar .weekdays div{
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.calendar .days .day{
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-clr);
    border: 1px solid #f5f5f5;
}

.calendar .day:not(.prev-date, .next-date):hover{
    color: #fff;
    background-color: var(--primary-clr);
}

.calendar .days .prev-date,
.calendar .days .next-date{
    color: #b3b3b3;
}
.calendar .days .active{
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: var(--primary-clr);
}

.calendar .days .active::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--primary-clr);

}

.calendar .days .today{
    font-size: 2rem;
}
.calendar .days .event{
    position: relative;
}
.calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
}
.calendar .event:hover::after{
    background-color: #fff;
}
.calendar .active:hover::after{
    background-color: #fff;
    bottom: 20%;
}
.calendar.active.event{
    padding-bottom: 10px;
}
.calendar .goto-today{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--primary-clr);
}

.calendar .goto-today .goto{
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
}

.calendar .goto-today .goto input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 5px;
}
.calendar .goto-today button{
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
}
.calendar .goto-today button:hover{
    color: #fff;
    background-color: var(--primary-clr);
}
.calendar .goto-today .goto button{
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
}

.container .right{
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
}

.right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.today-date .event-date {
    font-size: 2rem;
    font-weight: 500px;
}

.today-date .event-date{
    font-size: 1rem;
    font-weight: 400;
    color: #878895;
}

.events{
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.events .event{
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(90deg, #3f4458, transparent);
}
.events .event:nth-child(even){
    background: transparent;
}

.events .event:hover {
    background: linear-gradient(90deg, var(--primary-clr), transparent);
}

.events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.events .event .title .event-title {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
}
.events .event .title i {
    color: var(--primary-clr);
    font-size: 0.5rem;
}
.events .event:hover .title i,
.events .event:hover .event-time {
    color: #fff;
}
.events .event .event-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: #878895;
    margin-left: 15px;
    pointer-events: none;
}
.events .event::after{
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: var(--primary-clr);
    transform: translateY(-50%);
}
.events .event:hover::after{
    display: flex;
}

.events .no-event{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #878787;
}

.add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s;
}
.add-event-wrapper.active{
    max-height: 300px;
}

.add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #373c4f;
    border-bottom: 1px solid #f5f5f5;
}

.add-event-header .close {
    font-size: 1rem;
    cursor: pointer;
}
.add-event-header .close:hover{
    color: var(--primary-clr);
}
.add-event-header .title{
    font-size: 1.2rem;
    font-weight: 500;
}

.add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}
.add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #373c4f;
}
.add-event-body .add-event-input input::placeholder{
    color: #a5a5a5;
}
.add-event-body .add-event-input input:focus{
    border-color: var(--primary-clr);
}
.add-event-body .add-event-input input:focus::placeholder{
    color: var(--primary-clr);
}

.add-event-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.add-event-btn{
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);

}
.add-event-btn:hover {
    color: var(--primary-clr);
    background-color: transparent;
}

.add-event{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color:#878895;
    border: 2px solid #878895;
    opacity: 0.5;
    border-radius:50%;
    background-color: transparent;
    cursor: pointer;
}
.add-event:hover{
    opacity: 1;
}
.add-event i{
    pointer-events: none;
}

/* lest add responsive */

@media (max-width: 1000px){
    body {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .container {
        min-height: 100vh;
        flex-direction: column;
        border-radius: 0;
    }
    .container .left,
    .container .right {
        width: 100%;
        height: 100%;
        padding: 20 0;
    }
    .calendar::before,
    .calendar::after {
        top: 100%;
        left: 50%;
        width: 97%;
        height: 12px;
        border-radius: 0 0 5px 5px;
        transform: translateX(-50%);
    }
    .calendar::before {
        width: 94%;
        top: calc(100% + 12px);
    }
    .events {
        padding-bottom: 340px;
    }
    .add-event-wrapper {
        bottom: 100px;
    }
}

@media (max-width: 500px){
    .calendar .month{
        height: 75px;
    }
    .calendar .weekdays {
        height: 50px;
    }
    .calendar .days .day{
        height: 40px;
        font-size: 0.8rem;
    }
    .calendar .days .day.active,
    .calendar .days .day.today{
        font-size: 1rem;
    }
    .right .today-date {
        padding: 20px;
    }
}





/*------ Responsive*/
@media (max-height: 660px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
    }

}
@media (max-width:600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }

}









